# ENVIRONMENT (Pilih salah satu: development / production)
NODE_ENV="development"
PORT=5000

# FRONTEND URL (URL Vercel di VPS, atau localhost di laptop)
FRONTEND_URL="http://localhost:3000"

# DATABASE MYSQL
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://root:@localhost:3306/outdoor_rent"

# AUTENTIKASI (JWT)
# Bikin string acak panjang untuk secret ini (Misal: npm run generate-secret)
JWT_SECRET="ganti_dengan_rahasia_jwt_yang_sangat_panjang_dan_acak_123"

# MIDTRANS (Payment Gateway)
# Ambil dari dashboard Midtrans (Settings > Access Keys)
MIDTRANS_SERVER_KEY="SB-Mid-server-xxxxxxxxxxxxxxxxxxxxxxxx"

# EMAIL SMTP (Nodemailer)
# Pakai App Password dari Akun Google, bukan password login asli!
EMAIL_USER="email_lu@gmail.com"
EMAIL_PASS="app_password_16_karakter"


MIDTRANS_CLIENT_KEY=SB-Mid-server-xxxxxxxxxxxxxxxxxxxxxxxx
MIDTRANS_IS_PRODUCTION=false